#gallery {
    display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax(500px, 1fr)); */
    grid-template-columns: repeat(auto-fill, minmax(min(400px, 100%), 1fr));
    gap: 1.2rem;
  }
  #gallery img {
    max-width: 100%;
    /* aspect-ratio: 9/16;
    object-fit: cover; */
  
  }